.welcome{
  position: absolute;
  width: 65%;
  left: 20%;
  z-index: 50;
  top: 150px;
  margin: 0 auto;
  text-align: center;
}

.welcome__content{
  width: 65%;
  margin: 0 auto;
}

.welcome__directions{
  p{
    font-size: 1.4em;
    letter-spacing: .2em;
    margin: 20px;
  }
}

.enter-btn{
    color: white;
    cursor: pointer;
    margin: 50px auto 50px auto;
}
