.welcome{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 50;
  top: 0;
  text-align: center;
}

.welcome__exit{
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 2em;
  padding: 10px;
  left: 70px;
  top: 50px;
  span{
    vertical-align: middle;
  }
}
