@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import "_color_scheme.scss";
@import "_buttons.scss";

@mixin flexin(){
  display: flex;
  flex-direction: column;
  flex:none;
}
body{
  font-family: 'Pathway Gothic One', sans-serif;
  height: 100%;
}
a{
  color: $highlight;
  font-family: 'Carrois Gothic SC', sans-serif;
}
a:hover{
  color: $highlight;
}
.upper{
  z-index: 200;
}
.site-header{
  border-bottom: 2px solid $altClr;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  color: $altClr;
  background:rgba(220,255,210, .9);
  z-index: 300;
  a {
    color: black;
    text-decoration: none;
  }
}
.load-more{
  margin: 0;
  width: 100%;
  padding: 0;
}
.load-more__btn{
  display: block;
  margin: 0 auto;
}
.thumb-holder{
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
}
.ref-thumb{
  width: 100%;
  height: 100%;
}
.ref-thumb:hover{
  border: 5px solid $highlight;
  z-index: 200;
}
.feature-container{
  position: relative;
  width: 100%;
  @include flexin;
  margin: 0;
  margin-top: 120px;
  text-align: center;
}
.feature-img{
  position: relative;
  margin: 0 auto;
}
.show-img{
  position: relative;
  cursor: auto;
}
#hide-field{
  display: none;
}

textarea:focus, input:focus, .likes:focus{
  outline: none;
}
.critique{
  @include flexin();
  margin-top: 20px;
  font-size: 3em;
  text-align: left;
  letter-spacing: .1em;
}
#next-btn{
  top: 20px;
  width: 200px;
  margin: auto;
  z-index: 80;
  font-size: 8em;
  text-decoration: none;
  cursor: pointer;
}
#save-btn{
  background: $altClr;
  color: white;
  border: none;
  height: 100px;
  width: 150px;
  font-size: 5em;
  letter-spacing: .1em;
}
#next-btn:hover{
  background: $altClr;
  z-index: 200;
  color: white;
}
#giphy-logo{
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 20px;
}
.critique-form{
  position: relative;
  left: 20px;
  bottom: 0;
}
.search-box{
  margin: 0 0 40px 0;
  border: none;
  height: 50px;
  width: 300px;
  border: none;
  font-size: 3em;
}
.txtAr{
  width: 300px;
  height: 180px;
  border: none;
  font-size: 2em;
}
.full-back{
  top:0;
  left:0;
  position:fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: -100;
  font-size: 12em;
  padding: 0;
  font-style: italic;
  line-height: 1em;
  opacity: .4;
}
.catalogue-container{
  margin-top: 120px;
}
.catalogue-back{
  font-size: 30em;
}
.like-container{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 80px;
  left: -80px;
}
.likes{
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background: $altClr;
  color: white;
  font-size: 3em;
  margin: 0 auto;
  position: absolute;
}
.like-btn:hover{
  border: 10px solid $highlight;
  color: black;
}
.like-btn:active{
width: 97px;
height: 97px;
color: black;
background: $highlight;
}
.likes-count{
  width: 70px;
  height: 70px;
  border-radius: 90px;
  background: $highlight;
  cursor: auto;
  top: -70px;
}
.cat-count{
  position: absolute;
  background: $altClr;
  top: 40px;
}
@media screen and (max-width: 680px){
  .like-container{
    position: relative;
    margin: 0 auto -30px auto;
  }
}
@media screen and (max-width: 600px){
  .show-img, .feature-img{
    max-height: 100%;
    max-width: 100%;
  }
  .thumb-holder{
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 400px){
  #stream-link{
    display: table;
    width: auto;
    box-sizing: content-box;
  }
  #save-btn{
    font-size: 2em;
  }
  .likes{
    text-align: center;
  }
}
