@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
$highlight: rgba(0, 210, 33, .4);
$altClr: rgba(0, 255, 255, .3);

@mixin flexin(){
  display: flex;
  flex-direction: column;
  flex:none;
}
body{
  font-family: 'Pathway Gothic One', sans-serif;
  background: rgba(220,216,210, .3);
}
a{
  color: $highlight;
  font-family: 'Carrois Gothic SC', sans-serif;
}
a:hover{
  color: $highlight;
}
.upper{
  z-index: 200;
}
.ref-thumb{
  width: 100px;
  height: 100px;
  border-radius: 90px;
}
.ref-thumb:hover{
  border: 5px solid $highlight;
  z-index: 200;
}
.feature-container{
  width: 100%;
  @include flexin;
  margin: 0;
  text-align: center;
}
.feature-img{
  margin: 0 auto;
  cursor: pointer;
}
.show-img{
  cursor: auto;
}
#hide-field{
  display: none;
}

textarea:focus{
  outline: none;
}
.critique{
  @include flexin();
  margin-top: 20px;
  font-size: 3em;
  text-align: left;
  letter-spacing: .1em;
}
#next-btn{
  position: absolute;
  top: 20px;
  right: 100px;
  z-index: 80;
  font-size: 8em;
  text-decoration: none;
}
#save-btn{
  background: $altClr;
  color: white;
  border: none;
  height: 100px;
  width: 150px;
  font-size: 5em;
  letter-spacing: .1em;
}
#next-btn:hover{
  background: $altClr;
  z-index: 200;
  color: white;
}
.meme-holder{
  margin-bottom: 22px;
}
#giphy-logo{
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 20px;
}
.critique-form{
  position: relative;
  left: 20px;
  bottom: 0;
}
.search-box{
  margin: 0 0 40px 20px;
  border: none;
  height: 50px;
  width: 300px;
  border: none;
  font-size: 3em;
}
.txtAr{
  width: 300px;
  height: 180px;
  border: none;
  font-size: 2em;
}
textarea:focus, input:focus{
  outline: none;
}
.full-back{
  top:0;
  left:0;
  position:fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: -100;
  font-size: 12em;
  padding: 0;
  font-style: italic;
  line-height: 1em;
  opacity: .4;
}
.catalogue-back{
  font-size: 30em;
}
.catalogue-container{
  width: 70%;
  height: 100%;
}
@media screen and (max-width: 500px){
  .catalogue-container{
    width: 100%;
  }
}
