<h1><a data-ui-sref="gif"><span class="glyphicon glyphicon-asterisk"></span></a></h1>
<input type="search" label="search" class="inputs search-box" data-ng-model="search" placeholder="  find">
  <div class="container catalogue-container">

    <div class="row catalogue-row">
      <div class="thumb-holder col-xs-4 center-block" data-ng-repeat="ref in catalogue | filter:search | orderBy: 'created'">

        <a data-ui-sref="show({id: ref._id})"><img class="ref-thumb" data-ng-src="{{ref.og_still_url != null ? ref.og_still_url : ref.img_url}}"></a>
        <p id="likes-display">{{ref.likes}}</p>
        <form data-ng-submit="likeAdd(ref)">
          <button type="submit" >like</button>
        </form>

      </div>
    </div>

  </div>

<div class="catalogue-back full-back container">{{search}}</div>
