<h1><a id="upper" data-ui-sref="catalogue"><span class="glyphicon glyphicon-asterisk"></span></a></h1>

<div class="feature-container text-center">
  <img class="feature-img" data-ng-src="{{giphy.image_original_url}}">
  <div class="next-container">
    <h1 data-ng-click="reload()" id="next-btn">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </h1>
  </div>
  <form class="critique-form" data-ng-submit="adder()">
    <textarea class="txtAr inputs" type="text" name="" label="" id="" data-ng-model="ref.critique" autofocus placeholder="      critique"></textarea><br>
    <button id="save-btn" type="submit">save</button>
  </form>
</div>

<div class="full-back">{{ref.critique}}</div>
