<h1><a id="upper" data-ui-sref="catalogue"><span class="glyphicon glyphicon-asterisk"></span></a></h1>

<div class="feature-container text-center">
  <img data-ng-click="reload()" class="feature-img" data-ng-src="{{giph.image_original_url}}">
  <div class="container">
    <h1>
      <a href='' data-ng-click="reload()" id="next-btn">
        >
      </a>
    </h1>
  </div>
  <form class="critique-form" data-ng-submit="adder()">
    <textarea class="txtAr inputs" type="text" name="" label="" id="" data-ng-model="ref.critique" autofocus placeholder="      critique"></textarea><br>
    <button id="save-btn" type="submit">save</button>
  </form>
</div>

<div class="full-back">{{ref.critique}}</div>
