<h4 data-ng-controller="RefCtrl"><a data-ui-sref="catalogue">catalogue</a></h4>
<div class="container feature-container">

  <a href='' data-ng-click="reload()"><img id="feature-img" data-ng-src="{{giph.image_original_url}}"></a>
  <h1><a href='' data-ng-click="reload()">>>>></a></h1>

  <form data-ng-submit="adder()">
    <h3><label><a href="http://www.merriam-webster.com/dictionary/metaphorize" target="_blank">metaphorize_: </a></label></h3>
    <textarea type="text" name="" label="" id="" data-ng-model="ref.critique" placeholder="add metaphor"></textarea><br>
    <button type="submit">save</button>
  </form>
</div>
